*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: orange;
}

.clr{
    clear: both;
}

.circle{
    position: absolute;
    top: 100px;
    left: 140px;
}

.circle img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card{
    width: 25%;
    height: 450px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    box-shadow: 5px 5px 20px black;
}

.card-img{
    height: 150px;
    background-image: url(blueant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-text{
    padding-top: 70px;
    background-color: white;
    border: 400px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-text h1{
    font-size: 20;
    color: rgb(76, 75, 75);
}

.card-text h4{
    font-size: 13;
    margin-top: 10px;
    color: rgb(201, 193, 193);
}

.block{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 15px auto;
}

.block h2{
    font-size: 20;
    color: rgb(16, 111, 162);
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}

.block h3{
    font-size: 20;
    color: rgb(16, 111, 162);
    flex-direction: column;
}

.card-text button{
    width: 90%;
    margin: 15px auto;
    height: 40px;
    border-radius: 20px;
    background-color: yellow;
    border: 1px solid yellow;
    font-weight: bold;
    color: rgb(63, 61, 61);
}

.card-text p{
    width: 90%;
    margin: 7px auto;
}